@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

header, main, aside, footer {
	padding: 100px 0;
}

header {
	width: 100%;
	height: 5vw;
	background: #f0eeeb;
}

main {
	width: 70%;
	background: #e3e3e3;
}

aside {
	width: 30%;
	background: #c9c9c9;
}

footer {
	width: 100%;
	height: 5vw;
	background: #afafaf;
}

/*500pxより小さくなったら1カラム表示*/
@media ( max-width :500px) {
	header, main, aside, footer {
		width: 100%;
	}
}