.workspace {
  margin-top: 80px;
  margin-bottom: 80px;
}

input[type="submit"].delete {
  border: none;
  border-radius: 15px;
}
input[type="submit"]:hover {
  color: #fff;
  background: #797979;
}

input[type="submit"] {
  padding: 0.3em 1.5em;
  border: 1px #797979 solid;
  border-radius: 15px;
}
input[type="submit"]:hover {
  color: #fff;
  background: #797979;
}

input {
  border: 1px #aaa solid;
  border-radius: 10px;
  margin: 8px 0;
  outline: none;
  padding: 0.3em 0.3em;
}
input:focus {
  border-color: #797979;
  box-shadow: 0 0 3px 0 #797979;
}

.target {
  background: #ec4646;
  border-radius: 50%;
  color: #fff;
  padding: 0.2em 0.2em;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  animation: kfRotateY 1s linear 1;
}

@keyframes kfRotateY {
  0%   { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

td form {
  display:inline-block;
}

td button {
  border: none;
  background: none;
  padding: 0.3em 1.5em;
}

td button:hover {
	opacity: 0.7;
	transform: scale(1.3);
}

td input {
  border-radius: 0px;
  border: none;
  padding: 0em 0em;
  background: none;
}
td input:focus {
  box-shadow: 0 0 0 0 #797979;
  border-bottom: 1px solid #797979;
}
